.wrapper {
    margin-top: 8px;
}

@media screen and (min-width: 736px) {
    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }
}