.section {
    width: 100%;
}

.btnWrapper {
    display: flex;
    justify-content: right;
    margin: 20px 0;
}

.btn {
    display: flex;
    align-items: end;
    gap: 5px;
    font-size: large;
    border: none;
    background-color: transparent;
    color: var(--gray-1);
    cursor: pointer;
}

.btn:hover {
    color: var(--primary)
}

.center {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;

}