.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.icon,
.fav {
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.icon {
    color: var(--gray-1)
}

.fav {
    color: var(--primary)
}

.icon:hover,
.fav:hover {
    filter: drop-shadow(0px 0px 10px #00000030);
}